%p#notice= notice

%h1 Spaces

%table
  %thead
    %tr
      %th Name
      %th{ colspan: '3' }
  %tbody
    - @spaces.each do |space|
      %tr
        %td= space.name
        %td= link_to 'Show', space

= link_to 'New Space', new_space_path
