%nav.navbar
  %a.nav-link.space-nav.space-nav-live{ href: space_show_path(@space.name),
    class: current_page?(space_show_path(@space.name)) ? :current : nil }
    %i.fa.fa-bolt
    = t('space_nav_live')

  %a.nav-link.space-nav{ href: images_path(@space.name),
    class: current_page?(images_path(@space.name)) ? :current : nil }
    %i.fa.fa-th-large
    = t('space_nav_list')

  - if @space.editable_by?(current_user)
    %a.space-nav{ href: setting_path(@space.name),
      class: current_page?(setting_path(@space.name)) ? :current : nil }
      %i.fa.fa-cog
      = t('space_nav_settings')
