.images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.image {
  display: inline-block;
  max-width: calc(50% - 8px);
  margin: 4px;

  p {
    margin-bottom: 4px;
  }

  a {
    display: inline-block;
  }

  img {
    max-width: 100%;
  }
}
