.images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.grid-image {
  max-width: 100%;
}

.image {
  display: inline-block;
  max-width: calc(33% - 8px);
  margin: 4px;

  p {
    margin-bottom: 4px;
  }

  a {
    display: inline-block;
  }

  img {
    max-width: 100%;
  }
}

.step-chooser {
  text-align: center;
}

.step-slider {
  width: 60%;
}
