.setting {
  margin-top: 40px;

  section {
    margin-bottom: 60px;
  }

  .input {
    margin-bottom: 12px;
  }
}

#content {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.live-container {
  height: calc(100vh - 80px);
}

#live-image {
  width: 100%;
}

.live-image-timestamp {
  text-align: right;
}

.navbar {
  border-bottom: 2px solid $gray-300;
  height: 80px;

  justify-content: center;
  align-items: center;
}

.space-nav {
  display: inline-block;
  text-decoration: none;
  color: $gray-600;
  font-weight: bold;
  font-size: 24px;
  margin: 0 16px;

  &.current {
    color: $primary;
  }

  &:hover {
    text-decoration: none;
  }
}

.space-nav-live {
  padding: 0 8px;
}

.btn-block {
  border-radius: 24px;
}
