#content {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

#live-image-container {
  max-width: 640px;
  margin: auto;
}

#live-image {
  width: 100%;
}

.space-nav-header {
  text-align: center;
}

.space-nav {
  display: inline-block;
  text-decoration: none;
  font-size: 36px;
  margin: 6px 8px;
}

.space-nav-live {
  padding: 0 8px;
}
